=border
  :border-bottom 2px solid #cce


body
  :color #333

#title
  :background url(/images/arrow_refresh.png) #eee no-repeat 5px 3px
  :font-weight bold
  :color #555
  :padding 4px
  :margin-bottom 5px
  :padding-left 30px
  +border

h2
  :margin auto
  :width 402px
  :font-size 130%
  :background #eee
  :text-align center
  :margin-bottom 5px
  :padding 5px
  +border

fieldset
  :margin auto
  :width 412px
  ol
    li
      :background #eee
      :padding 5px
      :margin-bottom 5px
      +border
      label
        :display block
        :font-weight bold
      input
        :width 400px
      textarea
        :width 396px
        :height 200px
      input[type=submit]
        :width 402px
input[type=text], textarea
  :border 1px solid gray

