=border
  :border-bottom 2px solid #aca


body
  :color #333

#header
  :background url(/images/arrow_refresh.png) #eee no-repeat 5px 5px
  :font-weight bold
  :color #555
  :height 20px
  :padding 4px
  :margin-bottom 5px
  :padding-left 30px
  +border

#title
  :float left

#menu
  :float right
  li
    :border-left 2px solid #888

#content
  :clear both

h2
  :margin auto
  :width 402px
  :font-size 140%
  :background #eee
  :text-align center
  :margin-bottom 5px
  :padding 5px
  +border

h3
  :font-size 130%
  span
    :color #777
    :font-size 80%

fieldset
  :margin auto
  :width 412px
  ol
    li
      :background #eee
      :padding 20px
      :margin-bottom 5px
      +border
      label
        :display block
      input
        :padding 5px 0
        :width 370px
      textarea
        :width 366px
        :height 120px
      input[type=submit]
        :width 372px
input[type=text], textarea
  :border 1px solid #aaa

a, a:hover, a:visited
  :text-decoration none
  :color #000
  :padding 5px

a:hover
  :background #9d9

.build
  +border
  :padding 20px
  :margin 20px
  li
    :float right
    a
      :padding 2px 5px
      :background #ddd
      &:hover
        :background #eea
.build_successful
  :background #dfd
.build_failed
  :background #fdd
  :border-color #caa

