%ul
  - @projects.each do |project|
    - build = project.builds.last
    %li{:class => build_class(build)}
      %h3
        = project.name
        == (#{project.clone_from})
      = last_build_status(build)

