!!!Strict
%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title Sanity. Build Automation
    = javascript_include_tag 'lib/application', 'application'
    = stylesheet_link_tag 'reset', 'application'
  %body
    %div#title Sanity. Build Automation
    = yield

